body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.chat-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-control{
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.message {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.message.tutor {
    background-color: rgb(233, 175, 15);
    color: #fff;
    text-align: left;
}

.message.student {
    background-color: #F5F5F5;
    text-align: right;
}

.input-box {
    display: flex;
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #ccc;
}

textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.btn {
    padding: 10px 20px;
    background-color:rgb(233, 175, 15);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}