*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#191918,#52504ca9,#36363e,#c9d523);
    background-size: 300% 300%;
    height: 100vh;
    
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    
    color: #fff;
    text-align: center;
    
}

.container{
   

    max-width: 900px;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    margin: 0 180px;
    border-radius: 20px;
    box-shadow: inset -5px 2px 2px white;
    
}

h1 {
    font-size: 24px;
}

.material-list {
    list-style-type: none;
    padding: 0;
    
}

.material-list li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    
}

.material-list li a {
    text-decoration: none;
    color: #333;
}

.material-list li:hover {
    background-color: #fcbe03;
    
}

.form-title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}

.main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.user-input-box:nth-child(2n){
    justify-content: end;
}

.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}
textarea {
    width: 600px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.user-input-box label{
    width: 95%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.user-input-box input{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}

.category-title{
    color:white;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid white;
}

.category-category{
    margin: 15px 0;
    color: white;
}

.category-category label{
    padding: 0 20px 0 5px;
}

.category-category label,
.category-category input,
.form-submit-btn input{
    cursor: pointer;
}

.btn{
    margin-top: 40px;
}

.btn{
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border:none;
    border-radius: 3px;
    color: rgb(209, 209, 209);
    background: rgba(224, 155, 5, 0.7);
}

.btn:hover{
    background:rgba(230, 226, 9, 0.849);
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 568px){
    .container{
        min-width: 280px;
    }

    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }


    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }

    .category-category{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}


select {
    height: 40px; 
    width:95% ;
    border-radius: 7px;
}

/* styles.css */
input[type="file"] {
    display: block;
    width: 95%;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color: white; /* Add a white background color */
}



/* popupBox.css */
.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left:50%;
    transform: translate(-50%, -50%) scale(1.0);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px o 10px;

}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: rgba(190, 133, 9, 0.7);
    color:#fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}
