
body{
    margin-top:20px;
    background-color:#f2f6fc;
    color:#69707a;
    background: linear-gradient(45deg,#191918,#52504ca9,#36363e,#c9d523);
    background-size: 300% 300%;
}
.img-account-profile {
    height: 12rem;
    width: 12rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    /*padding: 1rem 1.35rem;*/
    margin-bottom: 0;
    background-color: rgba(175, 221, 8, 0.03);
    border-bottom: 0.6px solid rgba(33, 40, 50, 0.125);
}



.nav-borders .nav-link.active {
    color: #ff7b00;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #eff308;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    /*margin-left: 1rem;*/
    /*margin-right: 1rem;*/
}




        
        table {
            background-color: #fff;
            border-collapse: collapse;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
           
        }

        th, td {
            border: 1px solid #ddd;
            padding: 6px;
            text-align: center;
            
        }

        th {
            background-color: #4caf50;
            color: white;
            
            
        }

        td {
            cursor: pointer;
            
        }

        td.selected {
            background-color: #4caf50;
            color: white;
        }

        .back{
            background-color: #bacf01;
            color: rgb(143, 3, 3);
            padding: 8px ;
            font-size: 22px;
            font-weight: 500 ;
            width: 160px;
            margin-top: 10px;
            margin-bottom: 3px;
            text-align: center;
            border-radius: 4px;
            position: relative;
            display: inline-block;
        }



        header {
    
            color: #fff;
            text-align: center;
            
        }
        
        .container{
           
            width: 100%;
            max-width: 1150px;
            background: rgba(0, 0, 0, 0.5);
            padding: 30px;
            margin:  1% ;
            margin-top: 40px;
            border-radius: 20px;
            box-shadow: inset -5px 2px 2px white;
            
        }
        
        h1 {
            font-size: 24px;
        }
        
        
        
        .form-title{
            font-size: 26px;
            font-weight: 600;
            text-align: center;
            padding-bottom: 6px;
            color: white;
            text-shadow: 2px 2px 2px black;
            border-bottom: solid 1px white;
        }
        
        .main-user-info{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 20px 0;
        }
        
        .user-input-box:nth-child(3n){
            justify-content: end;
        }
        
        .user-input-box{
            display: flex;
            flex-wrap: wrap;
            width: 50%;
            padding-bottom: 35px;
            flex-basis: 30%;
        }
        textarea {
            width: 500px;
            padding: 10px;
            margin-top: -20px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .user-input-box label{
            width: 95%;
            color: white;
            font-size: 20px;
            font-weight: 400;
            margin: 10px 0;
        }
        
        .user-input-box input{
            height: 40px;
            width: 95%;
            border-radius: 7px;
            outline: none;
            border: 1px solid grey;
            padding: 0 15px;
        }

        
       
       
        
        .btn{
            margin-left: 40%;
            width: 15%;
            margin-top: 40px;
            font-size: 20px;
            padding: 10px;
            border:none;
            border-radius: 3px;
            background-color: #98a902;
            color: rgb(43, 3, 143);
        }
        
        .btn:hover{
            background:rgba(230, 226, 9, 0.849);
            color: rgb(255, 255, 255);
        }
        
        @media(max-width: 600px){
            .container{
                min-width: 280px;
            }
        
            .user-input-box{
                margin-bottom: 12px;
                width: 100%;
            }
        
            .user-input-box:nth-child(2n){
                justify-content: space-between;
            }
        
           
        
            .main-user-info{
                max-height: 380px;
                overflow: auto;
            }
        
            .main-user-info::-webkit-scrollbar{
                width: 0;
            }
        }
        
        
        select {
            height: 40px; 
            width:95% ;
            border-radius: 7px;
        }
        input[type="file"] {
            display: block;
            width: 95%;
            padding: 15px;
            margin-top: 10px;
            border: 1px solid #ccc;
            border-radius: 7px;
            background-color: white; /* Add a white background color */
        
        }

        /* Change color of dropdown items on hover */
        .dropdown .dropdown-content a:hover {
            background-color: #ddd;
        }

        /* Show the dropdown content when hovering over the dropdown button */
        .dropdown:hover .dropdown-content {
            display: block;
        }

    



       

        table {
            background-color: #fff;
            border-collapse: collapse;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
           
            margin-top: 20px;
           
        }
          
        
        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: #4caf50;
            color: white;
        }

        td {
            cursor: pointer;
        }

        td.selected {
            background-color: #4caf50;
            color: white;
        }
        .back{
            background-color: #bacf01;
            color: rgb(143, 3, 3);
            padding: 9px ;
            font-size: 23px;
            font-weight: 500 ;
            width: 160px;
            margin-top: 10px;
            margin-bottom: 8px;
            text-align: center;
            border-radius: 4px;
            
            position: relative;
            display: inline-block;
            cursor: pointer;

        }

