
                /* CSS styles for the form container */
                body{
                    display: flex;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    background: linear-gradient(45deg,#191918,#52504ca9,#36363e,#c9d523);
                    background-size: 300% 300%;
                    height: 100vh;
                    
                }
                .container 
                {
                    width: 600px;
                    height:500px;
                    margin: 0 auto;
                    padding: 20px;
                    background: rgba(0, 0, 0, 0.5);
                    border-radius: 8px;
                    box-shadow: inset -5px 2px 2px white;

                }

                .form-title{
                    font-size: 30px;
                    font-weight: 600;
                    text-align: center;
                    padding-bottom: 6px;
                    color: white;
            
                    text-shadow: 2px 2px 2px black;
                    border-bottom: solid 1px white;
                }


                .highlighted {
                    font-weight: bold;
                    background-color: yellow;
                    /* You can add more styles as needed */
                }

                h1 {
                    text-align: center;
                }

                .form-group {
                    margin-bottom: 15px;
                }

                label {
                    font-weight: bold;
                    color:rgb(6, 6, 7);
                    font-size: 18px;
                    background-color: yellow;
                }

                input[type="text"],
                input[type="email"],
                input[type="date"],
                input[type="time"],
                textarea {
                    width: 95%;
                    padding: 10px;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }

                button {
                    background-color: #ff7b00;
                    color: #050505;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    width: 100%;
                    font-size: 18px;
                    font-weight: bold;

                }

                button:hover {
                    background-color: #ac9202;
                }

                .popup{
                    width: 400px;
                    background: #fff;
                    border-radius: 6px;
                    position: absolute;
                    top: 0;
                    left:50%;
                    transform: translate(-50%, -50%) scale(1.0);
                    text-align: center;
                    padding: 0 30px 30px;
                    color: #333;
                    visibility: hidden;
                    transition: transform 0.4s, top 0.4s;
                }
                .open-popup{
                    visibility: visible;
                    top: 50%;
                    transform: translate(-50%, -50%) scale(1);
                }
                
                .popup img{
                    width:110px;
                    height: 100px;
                    margin-top: -50px;
                    border-radius: 50%;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                }
                
                .popup h2{
                    font-size: 38px;
                    font-weight: 500;
                    margin: 30px o 10px;
                
                }
                .popup button{
                    width: 100%;
                    margin-top: 50px;
                    padding: 10px 0;
                    background: #ff7b00;
                    color:#fff;
                    border: 0;
                    outline: none;
                    font-size: 18px;
                    border-radius: 4px;
                    cursor: pointer;
                    font-weight: bold;
                }
                


        