body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


main {
    padding: 20px;
}

form {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.button1 {
    background-color: #cf2a01;
    color: white;
    padding: 10px 20px;
    margin-left: 200px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #dac400;
}



/*.... abminView Styles.....*/
table {
    border:1px solid black; 
  
    
    width: 90%;
    margin-bottom: 20px;
    margin-top: 20px;
}
tr, td {
    text-align:center;
    border: 1px solid #dfdbce;;
    padding: 7px;
    border:1px solid black; 
    background-color: #b7ac92;;
    padding-left: 40px;
    font-size: 20px;
    font-weight: 500 ;
  }

.view{
    margin-left:100px;
}

.back{
    background-color: #bacf01;
    color: rgb(143, 3, 3);
    padding: 10px ;
    font-size: 25px;
    font-weight: 500 ;
    width: 160px;
    margin-top: 40px;
    margin-bottom: 100px;
    text-align: center;
    border-radius: 4px;
    margin-left: 40%;
}

