/*

Tooplate 2133 Moso Interior

https://www.tooplate.com/view/2133-moso-interior

*/

/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
    --white-color:                  #ffffff;
    --primary-color:                #eed171;
    --secondary-color:              #b8b5a3;
    --section-bg-color:             #eee458;
    --site-footer-bg-color:         #36363e;
    --custom-btn-bg-color:          #fdab31;
    --dark-color:                   #000000;
    --p-color:                      #464643;
    --border-color:                 #e9eaeb;
    --nav-btn-color:                #aeae9b;
    --p-bg-color:                   #dfd72f;

    
  
    --twitter-color:                #1da1f2;
    --facebook-color:              #36363e;
    --instagram-color:              #c13584;
    --pinterest-color:              #e60023;
    --whatsapp-color:               #128c7e;
  
    --body-font-family:             'League Spartan', sans-serif;
  
    --h1-font-size:                 62px;
    --h2-font-size:                 48px;
    --h3-font-size:                 36px;
    --h4-font-size:                 32px;
    --h5-font-size:                 26px;
    --h6-font-size:                 22px;
    --p-font-size:                  20px;
    --btn-font-size:                16px;
    --copyright-font-size:          14px;
  
    --border-radius-large:          100px;
    --border-radius-medium:         20px;
    --border-radius-small:          10px;
  
    --font-weight-thin:             100;
    --font-weight-light:            300;
    --font-weight-normal:           400;
    --font-weight-semibold:         600;
    --font-weight-bold:             700;
}
    /*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/
body {
  background:linear-gradient(45deg,#dfdf81,#3b3b33a9,#3d3d38,#e6eba8);
}

h2 {

color :black;}
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-semibold);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
  line-height: normal;
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color:#4889de;
  text-decoration: none;
}

a:hover {
  color: #094696;
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

.tooplate-red {
	color: var( --pinterest-color);
}
.tooplate-green {
	color: var(--custom-btn-bg-color);
}

/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/

    

.navbar {
    background-color: #36363e;
    padding-top: 0;
    padding-bottom: 0;
    transition: all 0.3s;
    height: 75px;
  }
  .navbar img  {
    margin-bottom: 1px;
    border-radius: 5%;
    width: 10%;
    padding-top: 8px;
  }
  
  
  .navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 10px;
    margin-left: 0;
    margin-bottom: 5px;
    padding: 5px 5px;
   
    
  }
  
  .navbar-nav .nav-link {
    display: inline-block;
    color: var(--p-bg-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-medium);
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .navbar-nav .nav-link.active, 
  .navbar-nav .nav-link:hover {
    background: var(--primary-color);
    color: var(--dark-color);
  }
  
  nav ul li:nth-child(4) a {
    background-color: var(--p-color); 
    border-radius: 5px;
    padding: 8px 15px;
   
}
nav ul li:nth-child(3) a {
  background-color: var(--p-color); 
  border-radius: 5px;
  padding: 8px 15px;
 
}


nav ul li:last-child a {
    background-color: var(--p-color); 
    border-radius: 5px;
    padding: 8px 15px;
   
}

  
  .navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 0;
    width: 30px;
    height: 35px;
    outline: none;
  }
  
  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
  
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background: transparent;
  }
  
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
    top: 0;
  }
  
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: rotate(45deg);
  }
  
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(-45deg);
  }
  
  .navbar-toggler .navbar-toggler-icon {
    background: var(--white-color);
    transition: background 10ms 300ms ease;
    display: block;
    width: 30px;
    height: 2px;
    position: relative;
  }
  
  .navbar-toggler .navbar-toggler-icon:before,
  .navbar-toggler .navbar-toggler-icon:after {
    transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
    position: absolute;
    right: 0;
    left: 0;
    background: var(--white-color);
    width: 30px;
    height: 2px;
    content: '';
  }
  
  .navbar-toggler .navbar-toggler-icon::before {
    top: -8px;
  }
  
  .navbar-toggler .navbar-toggler-icon::after {
    top: 8px;
  }


  /*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .section-bg {
    background: var(--section-bg-color);
  }
  
  .section-small-title {
    color: #fff;
    font-size: var(--h6-font-size);
    font-weight: var(--font-weight-semibold);
    display: block;
  }
  
  .section-overlay {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
  }

  
  
  
  
  /*---------------------------------------
    HERO              
  -----------------------------------------*/
  .hero-section {
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
    min-height: 580px;
  }
  
  .hero-section-text{
    margin-top: 18% ;
  }
  .hero-title {
    color: #f1e314;
    
  }
  @media screen and (min-width: 1500px) {
    .hero-section {
      height: calc(100vh - 70px);
    }
    .hero-section-text{
      margin-top: 15%;
      
    }
    .row h1 {
      margin-top: 5%;
    }
  }
  
 
  .hero-icon,
  .contact-icon {
    color: var(--secondary-color);
  }
  
  
 
  /*---------------------------------------
    search              
  -----------------------------------------*/

  .row h3 {
    margin-top: 8%;
    font-size: 28px;
    color: #f1e314;
    font-weight: 700;
    padding: 10px 20px;
    margin-left:10%;
    
    
}
  .search-bar {
    width: 80%;
    background: rgba(5, 0, 0, 0.322);
    display:flex;
    align-items:center;
    border-radius: 50px;
    padding: 8px 8px;
    margin-top: 3%;
    margin-left:10%;
    height: 50px;
    text-align: center;
    
    
}

::placeholder {
  color: #dbee10;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    border-radius: 50px;
    outline: none;
    padding: 8px 8px;
    font-size: 20px;
    color: #f1f1f7;
   
   
}

::placeholder {
    color: #eec910;
}

.search-bar button img  {
    width: 30px;
  
}

.search-bar button  {
    border: 0;
    padding: 10px 10px;
    border-radius:50%;
    background-color: #e8ac20;
}

/*---------------------------------------
  ABOUT              
-----------------------------------------*/
.about-section {
  padding-top: 80px;
  padding-bottom: 150px;
  background-color: #d1ca98;
}
.section-small-title h3{
  font-size:70px ;
  margin-top: 3px;
  color: #000000;
}
.about p{
  color: #494903;
  font-size: 25px;
}
.about-image {
  display: block;
  border-radius: 100%;
  width: 370px;
  height: 370px;
  object-fit: cover;
}

.about-image-small {
  display: block;
  margin: auto;
  width: 300px;
  height: 300px;
}




  /*---------------------------------------
    advertisement              
  -----------------------------------------*/
.advertisement h2{
    font-size: 20px;
    width: 100%;
    padding: 25px;
    font-weight: bolder;
    text-align: center;
    color: #eceaf3;
    background-color: #090901;

}

.subject h3{
    font-size: 40px;
    margin-bottom: 70px;
    margin-top: 120px;
    margin-left: 50px;
    height: 40px;
    width: 25%;
    font-weight: bold;
    color: #0a254b;
    background-color: #f0f187;
    display: flex;
    
}
.content{
  margin-bottom: 5%;
  margin-left: 25px;
  margin-right: 25px;
}

.content-row    {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}


.col {
    height: 580px;
	  flex-basis: 30%;
    padding: 20px 12px;
    background-color: #d8d6a4fe;
    border: #050500;
    border-radius: 10%;
    margin-bottom: 5%;
    margin-left: 3%;
    margin-right: 3%;
    box-sizing: border-box;
    text-align: center;
}


.col h2{
    margin: 10px 0;
    font-weight: 600;
    color: #3f0c0c;
    padding: 3px 0 0;
}


.col img:hover {
    box-shadow: 0 0 20px 0px rgba(9, 0, 0, 0.5);
}

.col p {
    color: #0c0242;
    display: block;
    font-size: 25px;
    font-style: normal;
    line-height: 30px;
    font-weight: var(--font-weight-bold);
    margin: 0;
    padding: 0;
    position: relative;
}
.col a{
  color: #086ba9;
 
}
.col:hover a{
  text-decoration: underline;
}
.col:hover{
    box-shadow: 0 0 30px 0px rgba(7, 8, 0, 0.982);
}

.col h4{
  color: #3f0c0c;;
}



/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
.site-footer {
  background: var(--site-footer-bg-color);
  padding-top: 0;
}

.site-footer h3 {
  line-height:0.1%;
}

.site-footer h3 .custom-link,
.site-footer .social-icon-link:hover {
  color: var(--white-color);
}

.site-footer h3 .custom-link:hover {
  color: var(--primary-color);
}

.copyright-text {
  color: var(--section-bg-color);
  font-size: var(--copyright-font-size);
  margin-top: 4px;
}

.site-footer .social-icon-link {
  margin-top: 4px;
}

/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  color: var(--p-color);
  font-size: var(--p-font-size);
  display: block;
  margin-right: 15px;
  text-align: center;
}

.social-icon-link:hover {
  color: var(--secondary-color);
}

.social-icon-twitter {
  color: var(--twitter-color);
}

.social-icon-facebook {
  color: var(--facebook-color);
}

.social-icon-instagram {
  color: var(--instagram-color);
}

.social-icon-pinterest {
  color: var(--pinterest-color);
}

.social-icon-whatsapp {
  color: var(--whatsapp-color);
}


/*---------------------------------------
  REVIEWS              
-----------------------------------------*/
.reviews-section {
  background:#cececd;
 
}
.reviews-section h2{
  color: #4a1f06;
  font-weight: var(--font-weight-bold);
  text-decoration:underline;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 30px;
 
 
  
}

.reviews-section h6{
  color: #920707; 
 
  
}

.reviews-carousel .owl-item img{
  border-radius: 50%;
  width: 250px;
  height: 300px;
  display: inline-block;
}

.reviews-carousel .owl-nav {
  position: absolute;
  top: -80px;
  right: 60px;
}

.reviews-carousel .owl-nav button.owl-next, 
.reviews-carousel .owl-nav button.owl-prev {
  background: var(--dark-color);
  border-radius: var(--border-radius-large);
  width: 60px;
  height: 60px;
  margin: 5px;
  transition: all 0.5s;
}

.reviews-carousel .owl-nav button.owl-next:hover, 
.reviews-carousel .owl-nav button.owl-prev:hover {
  background:#edeb64 ;
}

.reviews-carousel .owl-prev:hover span::before, 
.reviews-carousel .owl-next:hover span::before {
  color: var(--white-color);
}

.reviews-carousel .owl-prev span, 
.reviews-carousel .owl-next span {
  display: block;
  color: transparent;
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.reviews-carousel .owl-prev span::before, 
.reviews-carousel .owl-next span::before {
  font-family: bootstrap-icons;
  display: block;
  font-size: var(--h4-font-size);
  color: var(--secondary-color);
}

.reviews-carousel .owl-prev span::before {
  content: "\f12f";
}

.reviews-carousel .owl-next span::before {
  content: "\f138";
}

.reviews-thumb {
  background: var(--white-color);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
}

.reviews-body {
  padding: 50px 40px;
}

.reviews-bottom {
  background:#edeb64;
  background: linear-gradient(180deg, rgb(246, 239, 41) 0%, rgba(255,190,140,1) 100%);
  position: relative;
  padding: 10px 36px;
}

.reviews-bottom-up::before {
  content: "";
  display: block;
  margin: auto;
  width: 0;
  height: 0;
  border-bottom: 22px solid #edeb64;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  position: absolute;
  top: -20px;
  left: 36px;
}

.bi-star-fill {
  color: #a94308;
}

.reviews-section .custom-btn {
  background: var(--facebook-color);
  color: var(--white-color);
}

.reviews-section .custom-btn:hover {
  background: transparent;
  border-color: var(--facebook-color);
  color: var(--facebook-color);
}

.reviews-bottom small {
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-bold);
}


/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 991px) {
 

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  
  .navbar {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    padding: 15px 30px;
    min-width: 125px;
  }
  .about-section {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .about-image {
    width: 260px;
    height: 260px;
  }

  .about-image-small {
    width: 180px;
    height: 180px;
  }

  .reviews-thumb {
    margin-bottom: 24px;
  }

  .reviews-body {
    padding: 40px 30px;
  }
}



@media screen and (max-width: 580px) {
  .site-footer {
    text-align: center;
  }
  .copyright-text-wrap {
    justify-content: center;
  }
  .navbar img  {
    margin-bottom: 1px;
    border-radius: 1%;
    width: 30%;
  }
}
