
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 15px;
}
.header_logo{
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.header_logo a{
  color: #000;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
.menu_list a{

  margin: 2rem;
  font-weight: 500;
  color: rgb(87, 86, 86);
  text-decoration: none;
}
.active{
  color: #000 !important;
  font-weight: 700 !important;
}
.profile{
  width: 170px;
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 120px;
  border: 1px solid rgb(209, 209, 209);
}
.profile img{
  width: 40px;
  position: relative;
  left: 8px;
  border-radius: 50%;
}
.profile h3{
  margin: 0 15px;
  color: #b9068c;
}

/* Main Body Section */
.main_body{
  height: calc(100vh - 70px);
  display: flex;
  overflow: hidden;
}
.container{
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: scroll;
  background: rgb(219, 219, 219);


}
.cover img{
  width: 100%;
  border-radius: 10px;
}
.main_details{
  padding: 10px;
}
.main_details .c_title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c_title span{
  color: #000;
  font-size: 14px;
}

.course_outline{
  display: flex;
  margin-top: 1rem;
  padding: 10px 4rem;
  align-items: center;
  justify-content: space-between;
}
.course{
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.course i{
  padding: 10px;
  font-size: 16px;
  color: #b9068c;
  border-radius: 50%;
  margin-right: 1.2rem;
  background: rgb(238, 153, 212);
}
.description{
  margin-top: 20px;
}
.description h5{
  font-size: 16px;
  margin-bottom: 10px;
}
.description .des_para{
  display: flex;
  justify-content: space-between;
}
.des_para p{
  color: rgb(119, 119, 119);
}
.des_para img{
  width: 200px;
  border-radius: 10px;
}




/* Side Review bar */
.sidebar1{
 display: block;
  margin-left: 75%;
  width: 30%;
  height: 100%;
  padding: 15px;
  overflow-y: scroll;
  border-top-left-radius: 15px;
  background: rgb(201, 193, 193);
}

.sidebar1::-webkit-scrollbar, .container::-webkit-scrollbar{
  display: none;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.3rem;
}
.row h2{
  font-size: 20px;
}
.row a{
  font-size: 12px;
  text-decoration: none;
  color: rgb(96, 96, 96);
}
.review{
  width: 100%;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 12px;
}
.review .details{
  display: flex;
}
.details .logo img{
  height: 40px;
  width: 40px;
  border-radius: 10px;
  margin-right: 10px;
}
.details .title{
  display: flex;
  flex-direction: column;
}
.details .title h2{
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 4px;
}
.details .title span{
  font-size: 11px;
  color: rgb(96, 96, 96);
}
.review_post{
  margin-top: 10px;
}
.review_post p{
  font-size: 11px;
  word-spacing: 3px;
  color: rgb(119, 119, 119);
}

/*profile card css*/

.profile-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  border-radius: 25px;
  padding: 30px;
  border: 1px solid #ffffff40;
  box-shadow: 0 5px 20px rgba(70, 66, 66, 0.4);
  background-color: rgb(219, 219, 219);
  position: relative;
  
}
.image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #a4c510;
  padding: 3px;
}
.image .profile-pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}
.data{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.data h2{
  font-size: 33px;
  font-weight: 600;
}
span{
  font-size: 18px;
}
.row{
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.row .info{
  text-align: center;
  padding: 0 20px;
}
.buttons{
  display: flex;
  align-items: center;
  margin-top: 80PX;
  margin-left: -70%;
}
.buttons .btn{
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  padding: 8px 25px;
  border-radius: 25px;
  font-size: 18px;
  white-space: nowrap;
  background: linear-gradient(to left, #525b5e 0%, #a4c510 100%);
}
.buttons .btn:hover{
  box-shadow: inset 0 5px 20px rgba(0,0,0,0.4);
}
.main{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
  
  
  background-size: cover;
}

.profile-card::before{
  content: "";
  position: absolute;
  height: 29%;
  width: 100%;
  background-color: #a4c510;
  top: 0;
  left: 0;

}


/*delete alert popup box css*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.alert_box,
 .buttons .show_button{
  position: absolute;
  top: 88%;
  left: 70%;
  transform: translate(-50% , -50%);
  
}
.show_button{
  
 
 
 
  cursor: pointer;
  outline: none;
  border: none;
  
 
  
  border-radius: 5px;
  transition: all 0.3s ease;
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  padding: 8px 25px;
  border-radius: 25px;
  font-size: 18px;
  white-space: nowrap;
  background: linear-gradient(to left, #525b5e 0%, #a4c510 100%);
}
.show_button:hover{
  background: #d9210d;
}
.background{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.alert_box{
  padding: 30px;
  display: flex;
  background: #fff;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width:450px ;
  border-radius: 5px;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50% , -50%) scale(0.97);
  transition: all 0.3s ease;
}
#check:checked ~ .alert_box{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50% , -50%) scale(1);
}
#check:checked ~ .background{
  opacity: 1;
  pointer-events: auto;
}
#check{
  display: none;
}
.alert_box .icon{
  height: 100px;
  width: 100px;
  color: #f23b26;
  border: 3px solid #f23b26;
  border-radius: 50%;
  line-height: 97px;
  font-size: 50px;
}
.alert_box header{
  font-size: 35px;
  font-weight: 500;
  margin: 10px 0;
}
.alert_box p{
  font-size: 20px;
}
.alert_box .btns{
  margin-top: 20px;
}
.btns label{
  display: inline-flex;
  height: 55px;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  line-height: 55px;
  outline: none;
  margin: 0 10px;
  border: none;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.btns label:first-child{
  background: #2980b9;
}
.btns label:first-child:hover{
  background: #2573a7;
}
.btns label:last-child{
  background: #f23b26;
}
.btns label:last-child:hover{
  background: #d9210d;
}

/*class request list*/

.main{
  position: relative;
  padding: 20px;
  width: 100%;
}
.main-top{
  display: flex;
  width: 100%;
}
.main-top i{
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}
.main .users{
  display: flex;
  width: 100%;
}
.users .card{
  width: 25%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.users .card img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.users .card h4{
  text-transform: uppercase;
}
.users .card p{
  font-size: 12px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.users table{
  margin:  auto;
}
.users .per span{
  padding: 5px;
  border-radius: 10px;
  background: rgb(223, 223, 223);
}
.users td{
  font-size: 14px;
  padding-right: 15px;
}
.users .card button{
  width: 100%;
  margin-top: 8px;
  padding: 7px;
  cursor: pointer;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #4AD489;
}
.users .card button:hover{
  background: #4AD489;
  color: #fff;
  transition: 0.5s;
}
/*Attendance List serction  */
.attendance{
  margin-top: 20px;
  text-transform: capitalize;
}
.attendance-list{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
table thead tr{
  color: #fff;
  background: #a4c510;
  text-align: left;
  font-weight: bold;
}
.table th,
.table td{
  padding: 12px 15px;
}
.table tbody tr{
  border-bottom: 1px solid #ddd;
}
.table tbody tr:nth-of-type(odd){
  background: #f3f3f3;
}
.table tbody tr.active{
  font-weight: bold;
  color: #a4c510;
}
.table tbody tr:last-of-type{
  border-bottom: 2px solid #a4c510;
}
.table button{
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #a4c510;
}
.table button:hover{
  background: #a4c510;
  color: #fff;
  transition: 0.5rem;
}



  .input-box .button {
    right: 12px;
    font-size: 14px;
    padding: 8px 18px;
  }

  .input-box {
    position: relative;
    height: 76px;
    max-width: 900px;
    width: 100%;
    background: #fff;
    margin: 0 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .input-box i,
  .input-box .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .input-box i {
    left: 20px;
    font-size: 30px;
    color: #707070;
  }
  .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
  }
  .input-box .button {
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
  }
  .input-box .button:active {
    transform: translateY(-50%) scale(0.98);
  }
  /* Responsive */
  @media screen and (max-width: 500px) {
    .input-box {
      height: 66px;
      margin: 0 8px;
    }
    .input-box i {
      left: 12px;
      font-size: 25px;
    }
    .input-box input {
      padding: 0 112px 0 50px;
    }
    .input-box .button {
      right: 12px;
      font-size: 14px;
      padding: 8px 18px;
    }
  }